<div class="flex flex-column flex-row-ns v-mid pv1">
    <div class="pl2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
        {{ $robot_alt_text := i18n "robot_alt_text"}}
        <img src="/images/friendly robot.jpeg" class="img" alt="{{ $robot_alt_text }}"
            figcaption="https://unsplash.com/photos/K21Dn4OVxNw">
        </a>
    </div>
    <div class="pl2 pr2-ns pt1 mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
        {{ $drag_queen_text := i18n "drag_queen_alt_text"}}
        <img src="/images/drag queen.jpeg" class="img" alt="{{ $drag_queen_text }}"
            figcaption="https://unsplash.com/photos/9CLXCWxgCvE">
        </a>
    </div>
    <div class="pr2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
        {{ $kangaroo_text := i18n "kangaroo" }}
        <img src="/images/kangaroo sunset.jpeg" class="img" alt="{{ $kangaroo_text }}">
        </a>
    </div>
</div>