<div class="flex flex-column flex-row-ns v-mid pv1">
    <div class="pl2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
            {{ $galah_text := i18n "cyborg_galah_alt_text"}}
            <img src="/images/cyborg_galah.png" class="img" alt="{{ $galah_text }}">
        </a>
    </div>
    <div class="pl2-ns pr2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
        {{ $mouse_text := i18n "cyborg_mouse_alt_text"}}
        <img src="/images/cyborg_mouse.png" class="img" alt="{{ $mouse_text }}">
        </a>
    </div>
    <div class="pr2-ns mb4 mb0-ns w-100 w-40-ns">
        <a href="{{.Permalink}}" class="db grow">
        {{ $kookaburra_text := i18n "cyborg_kookaburra_alt_text"}}
        <img src="/images/cyborg_kookaburra.png" class="img" alt="{{ $kookaburra_text }}">
        </a>
    </div>
</div>