<!-- Multiple objects are possible: https://developers.google.com/search/docs/advanced/structured-data/sd-policies#individual-items -->
{{- if .Params.date -}}
	{{ $featuredImg := (partial "func/GetFeaturedImage.html" .) }}
	<script type="application/ld+json">
	    {
	      "@context": "https://schema.org",
	      "@type": "NewsArticle",
	      "headline": "{{ .Params.title }}",
	      "image": [
	        {{ $featuredImg }}
	       ],
	      "datePublished": "{{ .Params.date }}",
	      "dateModified": "{{ .Params.date }}",
	      "author": [{
	          "@type": "Person",
	          "name": "{{ .Params.author }}",
	          "url": "/about"
	        }]
	    }
    </script>
{{- end -}}
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "url": {{ .Site.BaseURL }},
	  "logo": "/images/vaporwave_galah.webp"
	}
</script>
