<div class="f5 f4-ns hover-white no-underline white-90 mr3 items-center selector">
    <a class="selector_toggle" data-toggle="dropdown" href="#">
        <span text-align="center">{{ i18n "translations" }}🌐 {{ .Lang }}</span>
    </a>

    <ul class="pl0 mr3 selector_list">
        {{ range .Translations }}
        <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90" href="{{ .Permalink }}">{{ .Lang }}</a>
        </li>
        {{ end }}
    </ul>
</div>

<!-- todo: finish incorporating https://codepen.io/alltimelowe/pen/QyrwEE -->