<div class="db pv3 ph3 ph0-l no-underline dark-gray" align="left">
  <div class="flex flex-column flex-row-ns" style="background-image: url('/images/membership/glitch_clouds.gif')">
      <div class="blah w-100 w-45-ns pl2 pb2 pl3-ns">
        <h1 class="f3 fw1 lh-title uni-neue">
          <a href="/join_us/" class="bn white br2 hover-shadow hover-bg-green bg-animate 
          bg-green pa1 uni-neue link">
            {{ i18n "join_us_cta"}}
          </a>
        </h1>
        <div class="f5 f5-l lh-copy nested-copy-line-height nested-links pr2-ns dark-gray">
          {{ i18n "join_us_elaboration" }}
          </div>
      </div>
    </div>
  </div>
</div>