<div class="db pv3 ph3 ph0-l no-underline dark-gray" align="left">
    <div class="flex flex-column flex-row-ns">  
        <div class="mb0-ns w-100 w-60-ns" id="cockatoo-oppression">
        {{ $cockatoo_image_alt := i18n "cockatoo_image_alt"}}
        <img src="/images/cockatoo.jpeg" class="img grow" alt="{{ $cockatoo_image_alt }}"
            figcaption="https://unsplash.com/photos/qS_d1WcvUVg">
        </div>
      
      <div class="blah w-100 w-40-ns pl2 pl3-ns">
        <h1 class="f3 fw1 bird-quote lh-title">
          <a href="post/should_foreigners_or_tamagotchis_exist" class="color-inherit dim link">
            {{ i18n "cockatoo_oppression_heading"}}
          </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links pr2-ns">
          {{ i18n "cockatoo_oppression_explanation" }}
          </div>
      </div>
    </div>
  </div>
</div>