<div class="db pv3 ph3 ph0-l no-underline dark-gray" align="left">
    <div class="flex flex-column flex-row-ns">
      <div class="mb0-ns w-100 w-55-ns" id="tamagotchi-oppression">
        {{ $tamagotchi_alt := i18n "tamagotchi_alt"}}
        <img src="/images/tamagotchi-static.png" class="img grow" alt="{{ $tamagotchi_alt }}"
          figcaption="https://giphy.com/gifs/tylermenzel-90s-commercial-tamagotchi-4LTGEdPueINFzycY1Ixq">
        </div>
      <div class="blah w-100 w-45-ns pl2 pb2 pl3-ns">
        <h1 class="f3 fw1 bird-quote lh-title">
          <a href="post/should_foreigners_or_tamagotchis_exist" class="color-inherit dim link">
            {{ i18n "tamagotchi_oppression_heading"}}
          </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links pr2-ns">
          {{ i18n "tamagotchi_oppression_explanation" }}
          </div>
      </div>
    </div>
  </div>
</div>